*#
**/*.html
**/*.md
**/*.odt
**/*.pdf
**/*.tex
**/*.log
**/g_*/
**/t_*/
**/.clang-format
*.*~
*.b0
*.elc
*.swp
*.log
*~
*~$
.dict
.emacs.desktop
.emacs.desktop.lock
.mc-lists.el
.project/
.recentf
.reveal.js
.smex-items
.profile/
.sx/
.tags/
auto-save-list
backups/
bookmarks
cider-history
config/.nrepl-history
config/ltximg
eln-cache/
elpa/
eshell
eww-bookmarks
games/
history
ido.last
image-dired/
nul
null
places
private/*
projectile-bookmarks.eld
projectile.cache
recentf
semanticdb/
server/
session.*
src
theme/
tramp
transient/
tree-sitter/
tutorial/
url
viper
viperelpa/
config/sample-org.*
.org-id-locations