.smex-items
*~$
places
.dict
.recentf
.reveal.js
ido.last
cider-history
projectile-bookmarks.eld
projectile.cache
auto-save-list
eshell
backups/
tramp
tutorial/
viperelpa/
elpa/
viper
*.*~
.emacs.desktop
.emacs.desktop.lock
*#
*~
*.elc
src
url
session.*
bookmarks
recentf
*.b0
games/
private/
*.swp
nul
null
server/
TAGS
config/.nrepl-history
**/g_*/
**/t_*/
semanticdb/
image-dired/
eww-bookmarks
.sx/
history
**/*.pdf
**/*.tex
**/*.html
**/*.odt
**/*.md