*#
**/*.html
**/*.log
**/*.md
**/*.odt
**/*.pdf
**/*.tex
**/.clang-format
**/g_*/
**/t_*/
*.*~
*.b0
*.elc
*.log
*.swp
*~
*~$
.axiom/
.dict
.emacs.desktop
.emacs.desktop.lock
.mc-lists.el
.nvimlog
.org-id-locations
.profile/
.project/
.recentf
.reveal.js
.smex-items
.sx/
.tags/
auto-save-list
backups/
bookmarks
cider-history
config/.nrepl-history
config/ltximg
config/sample-org.*
eln-cache/
elpa/
eshell
eww-bookmarks
games/
history
ido.last
image-dired/
nul
null
places
private/*
projectile-bookmarks.eld
projectile.cache
recentf
scratch/
semanticdb/
server/
session.*
src
theme/
tramp
transient/
tree-sitter/
tutorial/
url
viper
viperelpa/